node_modules
**/node_modules
.git
.github
.husky
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
.nuxt
**/.nuxt
.output
**/.output
dist
**/dist
coverage
**/coverage
*.md
!README.md
.vscode
.idea
agent-transcripts
**/*.log
**/tmp
**/.DS_Store
apps/api/test
apps/web/test
**/*spec.ts
**/*.e2e-spec.ts
**/jest.config.*
**/jest-e2e.json
PLAN.md
docker-compose.yml
